*{
    font-family: 'Rubik', sans-serif;
}
div {
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
}

div img {
    display: block;
    width: 200px;
    padding-left: 100px;
    padding-top: 20px;
}
.main-butttons{
    display: block;
    text-align: right;
    

}

.main-butttons ul {
    display: inline-flex;
    justify-content: flex-end;
    padding-top: -100px;
    padding-right: 50px;
    font-size: 20px;
}

.main-butttons ul a {
    text-decoration: none;
    color: rgb(7, 201, 7);
}